[CONFIG]
AP_LOCATION="Livingroom"
AP_NAME="AtmoPi 1"
POLL_INTERVAL=60
INFLUXDB_DATABASE=atmopi
INFLUXDB_SERVER=db.example.com
INFLUXDB_PORT=8086
INFLUXDB_USER=root
INFLUXDB_PASSWORD=root
SENSOR_LIST=mock,mock_temp,grove_temp_hum_pro
DEBUG=False